body{
    display: flex;
    font-size: 25px;
    color: rgb(39 237 231);
    justify-content: center;
    background: url(bg1.jpg) no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    margin-top: 5px;
}

#main{
    height: 70%;
    width: 40%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
}
.type{
    border: 1px solid rgb(7, 0, 0);
    border-radius: 10px;
    height: 32%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    
}

#sort{
    background-color: aliceblue;
}

#dbms{
    background-color: rgb(166, 235, 235);
}

#graph{
    background-color: bisque;
}
a{
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: rgb(129, 11, 90);
}

.type :hover {
    color: black;
  }
